---
http_interactions:
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/dropbox/Public/photo.jpg?overwrite=false
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_KEY>",
        oauth_token="<ACCESS_TOKEN>", oauth_signature="<APP_SECRET>&<ACCESS_TOKEN_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '272'
      X-Dropbox-Request-Id:
      - 82f21dca6d29eb71c254c1792003a798
      X-Requestid:
      - 53cdb90056b832426af110c37899d1a7
    body:
      encoding: UTF-8
      string: '{"revision": 8318, "rev": "207e01908bdc", "thumb_exists": true, "bytes":
        0, "modified": "Mon, 28 Oct 2013 15:48:27 +0000", "client_mtime": "Mon, 28
        Oct 2013 15:48:27 +0000", "path": "/Public/photo.jpg", "is_dir": false, "icon":
        "page_white_picture", "root": "dropbox", "mime_type": "image/jpeg", "size":
        "0 bytes"}'
  recorded_at: Mon, 28 Oct 2013 15:48:28 GMT
- request:
    method: get
    uri: https://api-content.dropbox.com/1/files/dropbox/Public/photo.jpg?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_KEY>",
        oauth_token="<ACCESS_TOKEN>", oauth_signature="<APP_SECRET>&<ACCESS_TOKEN_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      X-Dropbox-Metadata:
      - '{"revision": 8318, "rev": "207e01908bdc", "thumb_exists": true, "bytes":
        0, "modified": "Mon, 28 Oct 2013 15:48:27 +0000", "client_mtime": "Mon, 28
        Oct 2013 15:48:27 +0000", "path": "/Public/photo.jpg", "is_dir": false, "icon":
        "page_white_picture", "root": "dropbox", "mime_type": "image/jpeg", "size":
        "0 bytes"}'
      X-Server-Response-Time:
      - '153'
      Etag:
      - 8318n
      X-Dropbox-Request-Id:
      - fe47354c01a623df0ccf9811fc7c7d28
      X-Requestid:
      - 875776088e0f4d80fe12258e93643991
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 28 Oct 2013 15:48:29 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/delete
    body:
      encoding: US-ASCII
      string: root=dropbox&path=%2FPublic%2Fphoto.jpg
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_KEY>",
        oauth_token="<ACCESS_TOKEN>", oauth_signature="<APP_SECRET>&<ACCESS_TOKEN_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '172'
      X-Dropbox-Request-Id:
      - 0badc9c6dc767fb71202d4aa12adb6cb
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 588e91ca26228d0a9cb58a18e9518273
    body:
      encoding: UTF-8
      string: '{"is_deleted": true, "revision": 8319, "rev": "207f01908bdc", "thumb_exists":
        true, "bytes": 0, "modified": "Mon, 28 Oct 2013 15:48:29 +0000", "client_mtime":
        "Wed, 31 Dec 1969 23:59:59 +0000", "path": "/Public/photo.jpg", "is_dir":
        false, "icon": "page_white_picture", "root": "dropbox", "mime_type": "image/jpeg",
        "size": "0 bytes"}'
  recorded_at: Mon, 28 Oct 2013 15:48:30 GMT
recorded_with: VCR 2.6.0
