---
http_interactions:
- request:
    method: get
    uri: https://api.dropbox.com/1/metadata/dropbox/Public/photo.jpg?file_limit=25000&include_deleted=false&list=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_KEY>",
        oauth_token="<ACCESS_TOKEN>", oauth_signature="<APP_SECRET>&<ACCESS_TOKEN_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '30'
      X-Dropbox-Request-Id:
      - d74a7c477db9b0d4
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - f5887614df2d38a07113d91969bbda56
    body:
      encoding: US-ASCII
      string: ! '{"is_deleted": true, "revision": 8054, "rev": "1f7601908bdc", "thumb_exists":
        true, "bytes": 0, "modified": "Tue, 21 May 2013 15:53:04 +0000", "client_mtime":
        "Wed, 31 Dec 1969 23:59:59 +0000", "path": "/Public/photo.jpg", "is_dir":
        false, "icon": "page_white_picture", "root": "dropbox", "mime_type": "image/jpeg",
        "size": "0 bytes"}'
  recorded_at: Tue, 21 May 2013 15:53:12 GMT
recorded_with: VCR 2.4.0
