---
http_interactions:
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/dropbox/Public/photo.jpg?overwrite=false
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_KEY>",
        oauth_token="<ACCESS_TOKEN>", oauth_signature="<APP_SECRET>&<ACCESS_TOKEN_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '333'
      X-Dropbox-Request-Id:
      - 01d906aee9b989edc3e1e8546d7def33
      X-Requestid:
      - 7e5cea7e69980df388e516acb755e40c
    body:
      encoding: UTF-8
      string: '{"revision": 8316, "rev": "207c01908bdc", "thumb_exists": true, "bytes":
        0, "modified": "Mon, 28 Oct 2013 15:48:22 +0000", "client_mtime": "Mon, 28
        Oct 2013 15:48:22 +0000", "path": "/Public/photo.jpg", "is_dir": false, "icon":
        "page_white_picture", "root": "dropbox", "mime_type": "image/jpeg", "size":
        "0 bytes"}'
  recorded_at: Mon, 28 Oct 2013 15:48:23 GMT
- request:
    method: get
    uri: https://api.dropbox.com/1/metadata/dropbox/Public/photo.jpg?file_limit=25000&include_deleted=false&list=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_KEY>",
        oauth_token="<ACCESS_TOKEN>", oauth_signature="<APP_SECRET>&<ACCESS_TOKEN_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '36'
      X-Dropbox-Request-Id:
      - c8b24d0a490aeabf76c1b3ea7fd1eb0c
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 9a0becd71a3a8b4663b3323eae364d81
    body:
      encoding: UTF-8
      string: '{"revision": 8316, "rev": "207c01908bdc", "thumb_exists": true, "bytes":
        0, "modified": "Mon, 28 Oct 2013 15:48:22 +0000", "client_mtime": "Mon, 28
        Oct 2013 15:48:22 +0000", "path": "/Public/photo.jpg", "is_dir": false, "icon":
        "page_white_picture", "root": "dropbox", "mime_type": "image/jpeg", "size":
        "0 bytes"}'
  recorded_at: Mon, 28 Oct 2013 15:48:24 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/delete
    body:
      encoding: US-ASCII
      string: root=dropbox&path=%2FPublic%2Fphoto.jpg
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_KEY>",
        oauth_token="<ACCESS_TOKEN>", oauth_signature="<APP_SECRET>&<ACCESS_TOKEN_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '159'
      X-Dropbox-Request-Id:
      - fb2f980b3edce7998ee783ced4c2c1be
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - bed20753ef98d593a18674956c501976
    body:
      encoding: UTF-8
      string: '{"is_deleted": true, "revision": 8317, "rev": "207d01908bdc", "thumb_exists":
        true, "bytes": 0, "modified": "Mon, 28 Oct 2013 15:48:25 +0000", "client_mtime":
        "Wed, 31 Dec 1969 23:59:59 +0000", "path": "/Public/photo.jpg", "is_dir":
        false, "icon": "page_white_picture", "root": "dropbox", "mime_type": "image/jpeg",
        "size": "0 bytes"}'
  recorded_at: Mon, 28 Oct 2013 15:48:26 GMT
recorded_with: VCR 2.6.0
