---
http_interactions:
- request:
    method: get
    uri: https://api.dropbox.com/1/metadata/dropbox/Public/photo.jpg?file_limit=25000&include_deleted=false&list=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_KEY>",
        oauth_token="<ACCESS_TOKEN>", oauth_signature="<APP_SECRET>&<ACCESS_TOKEN_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '39'
      X-Dropbox-Request-Id:
      - 18d5931999cac0c5ae933818a56eb21f
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - c1b0967d5ba82a15bc4dbf833d170901
    body:
      encoding: UTF-8
      string: '{"is_deleted": true, "revision": 8317, "rev": "207d01908bdc", "thumb_exists":
        true, "bytes": 0, "modified": "Mon, 28 Oct 2013 15:48:25 +0000", "client_mtime":
        "Wed, 31 Dec 1969 23:59:59 +0000", "path": "/Public/photo.jpg", "is_dir":
        false, "icon": "page_white_picture", "root": "dropbox", "mime_type": "image/jpeg",
        "size": "0 bytes"}'
  recorded_at: Mon, 28 Oct 2013 15:48:27 GMT
recorded_with: VCR 2.6.0
