---
http_interactions:
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/dropbox/Public/photo_with_spaces.jpg?overwrite=false
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_KEY>",
        oauth_token="<ACCESS_TOKEN>", oauth_signature="<APP_SECRET>&<ACCESS_TOKEN_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '272'
      X-Dropbox-Request-Id:
      - 4dab8a613ee95f391a6e00ddd2eac3f6
      X-Requestid:
      - bab405afbe80df023d1639cc15bb145e
    body:
      encoding: UTF-8
      string: '{"revision": 8308, "rev": "207401908bdc", "thumb_exists": true, "bytes":
        0, "modified": "Mon, 28 Oct 2013 15:48:08 +0000", "client_mtime": "Mon, 28
        Oct 2013 15:48:08 +0000", "path": "/Public/photo_with_spaces.jpg", "is_dir":
        false, "icon": "page_white_picture", "root": "dropbox", "mime_type": "image/jpeg",
        "size": "0 bytes"}'
  recorded_at: Mon, 28 Oct 2013 15:48:09 GMT
- request:
    method: get
    uri: https://dl.dropboxusercontent.com/u/<USER_ID>/photo_with_spaces.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      X-Dropbox-Request-Id:
      - 8f4e44cdeb0b8384de07e75799297d33
      X-Requestid:
      - d2094b7617600b8824ea227f31a97d76
      X-Server-Response-Time:
      - '143'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 28 Oct 2013 15:48:09 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/delete
    body:
      encoding: US-ASCII
      string: root=dropbox&path=%2FPublic%2Fphoto_with_spaces.jpg
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_KEY>",
        oauth_token="<ACCESS_TOKEN>", oauth_signature="<APP_SECRET>&<ACCESS_TOKEN_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '140'
      X-Dropbox-Request-Id:
      - e9fc06798ac04c827ba69b2c9cc93c55
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - d7206d55f994fdc20afbcd90de9a8408
    body:
      encoding: UTF-8
      string: '{"is_deleted": true, "revision": 8309, "rev": "207501908bdc", "thumb_exists":
        true, "bytes": 0, "modified": "Mon, 28 Oct 2013 15:48:10 +0000", "client_mtime":
        "Wed, 31 Dec 1969 23:59:59 +0000", "path": "/Public/photo_with_spaces.jpg",
        "is_dir": false, "icon": "page_white_picture", "root": "dropbox", "mime_type":
        "image/jpeg", "size": "0 bytes"}'
  recorded_at: Mon, 28 Oct 2013 15:48:11 GMT
recorded_with: VCR 2.6.0
