---
http_interactions:
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/dropbox/Public/photo.jpg?overwrite=false
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_KEY>",
        oauth_token="<ACCESS_TOKEN>", oauth_signature="<APP_SECRET>&<ACCESS_TOKEN_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '267'
      X-Dropbox-Request-Id:
      - 82e3258b47b576be9d4eb580829c208f
      X-Requestid:
      - be0fe00ce7637971f1231f36c7cd2b05
    body:
      encoding: UTF-8
      string: '{"revision": 8306, "rev": "207201908bdc", "thumb_exists": true, "bytes":
        0, "modified": "Mon, 28 Oct 2013 15:48:05 +0000", "client_mtime": "Mon, 28
        Oct 2013 15:48:05 +0000", "path": "/Public/photo.jpg", "is_dir": false, "icon":
        "page_white_picture", "root": "dropbox", "mime_type": "image/jpeg", "size":
        "0 bytes"}'
  recorded_at: Mon, 28 Oct 2013 15:48:06 GMT
- request:
    method: get
    uri: https://dl.dropboxusercontent.com/u/<USER_ID>/photo.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      X-Dropbox-Request-Id:
      - b82416a9853d2152476a23b99624baf7
      X-Requestid:
      - 2f030fe8e2f87158e38333442f6629a5
      X-Server-Response-Time:
      - '124'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 28 Oct 2013 15:48:07 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/delete
    body:
      encoding: US-ASCII
      string: root=dropbox&path=%2FPublic%2Fphoto.jpg
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_KEY>",
        oauth_token="<ACCESS_TOKEN>", oauth_signature="<APP_SECRET>&<ACCESS_TOKEN_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '146'
      X-Dropbox-Request-Id:
      - e964ac1e2c14362bff3a043a27c43ecd
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 7d308bc87c0176700f0cb42948b2796b
    body:
      encoding: UTF-8
      string: '{"is_deleted": true, "revision": 8307, "rev": "207301908bdc", "thumb_exists":
        true, "bytes": 0, "modified": "Mon, 28 Oct 2013 15:48:07 +0000", "client_mtime":
        "Wed, 31 Dec 1969 23:59:59 +0000", "path": "/Public/photo.jpg", "is_dir":
        false, "icon": "page_white_picture", "root": "dropbox", "mime_type": "image/jpeg",
        "size": "0 bytes"}'
  recorded_at: Mon, 28 Oct 2013 15:48:08 GMT
recorded_with: VCR 2.6.0
