---
http_interactions:
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/dropbox/Public/photo.jpg?overwrite=false
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_KEY>",
        oauth_token="<ACCESS_TOKEN>", oauth_signature="<APP_SECRET>&<ACCESS_TOKEN_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '439'
      X-Dropbox-Request-Id:
      - 5ee951127b03ae260a88906e4239f0a9
      X-Requestid:
      - da5303fbba4485c58431e3ac00dc1aa3
    body:
      encoding: UTF-8
      string: '{"revision": 8312, "rev": "207801908bdc", "thumb_exists": true, "bytes":
        0, "modified": "Mon, 28 Oct 2013 15:48:15 +0000", "client_mtime": "Mon, 28
        Oct 2013 15:48:15 +0000", "path": "/Public/photo.jpg", "is_dir": false, "icon":
        "page_white_picture", "root": "dropbox", "mime_type": "image/jpeg", "size":
        "0 bytes"}'
  recorded_at: Mon, 28 Oct 2013 15:48:16 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/delete
    body:
      encoding: US-ASCII
      string: root=dropbox&path=%2FPublic%2Fphoto.jpg
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_KEY>",
        oauth_token="<ACCESS_TOKEN>", oauth_signature="<APP_SECRET>&<ACCESS_TOKEN_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '175'
      X-Dropbox-Request-Id:
      - b640808e613390015b6b8da459dcd2bd
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - e5ac24efe8d3a52db8ac29be8ef0e1d8
    body:
      encoding: UTF-8
      string: '{"is_deleted": true, "revision": 8313, "rev": "207901908bdc", "thumb_exists":
        true, "bytes": 0, "modified": "Mon, 28 Oct 2013 15:48:16 +0000", "client_mtime":
        "Wed, 31 Dec 1969 23:59:59 +0000", "path": "/Public/photo.jpg", "is_dir":
        false, "icon": "page_white_picture", "root": "dropbox", "mime_type": "image/jpeg",
        "size": "0 bytes"}'
  recorded_at: Mon, 28 Oct 2013 15:48:17 GMT
- request:
    method: get
    uri: https://api.dropbox.com/1/metadata/dropbox/Public/photo.jpg?file_limit=25000&include_deleted=false&list=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_KEY>",
        oauth_token="<ACCESS_TOKEN>", oauth_signature="<APP_SECRET>&<ACCESS_TOKEN_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '41'
      X-Dropbox-Request-Id:
      - 984aa5711dcfe1e9d29173fbbcb43a1d
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 658d72c290834b6995ef103e0046a324
    body:
      encoding: UTF-8
      string: '{"is_deleted": true, "revision": 8313, "rev": "207901908bdc", "thumb_exists":
        true, "bytes": 0, "modified": "Mon, 28 Oct 2013 15:48:16 +0000", "client_mtime":
        "Wed, 31 Dec 1969 23:59:59 +0000", "path": "/Public/photo.jpg", "is_dir":
        false, "icon": "page_white_picture", "root": "dropbox", "mime_type": "image/jpeg",
        "size": "0 bytes"}'
  recorded_at: Mon, 28 Oct 2013 15:48:18 GMT
recorded_with: VCR 2.6.0
