---
http_interactions:
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/sandbox/photo.jpg?overwrite=false
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_KEY>",
        oauth_token="<ACCESS_TOKEN>", oauth_signature="<APP_SECRET>&<ACCESS_TOKEN_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '251'
      X-Dropbox-Request-Id:
      - 36fcf39fec129d771a74cba17433dcc6
      X-Requestid:
      - cd04f2d7e0f6c163a4e44b4c970e3126
    body:
      encoding: UTF-8
      string: '{"revision": 148, "rev": "940c501cce", "thumb_exists": true, "bytes":
        0, "modified": "Mon, 28 Oct 2013 15:47:39 +0000", "client_mtime": "Mon, 28
        Oct 2013 15:47:39 +0000", "path": "/photo.jpg", "is_dir": false, "icon": "page_white_picture",
        "root": "app_folder", "mime_type": "image/jpeg", "size": "0 bytes"}'
  recorded_at: Mon, 28 Oct 2013 15:47:40 GMT
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/sandbox/photo_thumb.jpg?overwrite=false
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_KEY>",
        oauth_token="<ACCESS_TOKEN>", oauth_signature="<APP_SECRET>&<ACCESS_TOKEN_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '273'
      X-Dropbox-Request-Id:
      - 82573036ea33022c067a6829e3b800e1
      X-Requestid:
      - bfef1b1ddaeba4f877b5fcac5b7ecbec
    body:
      encoding: UTF-8
      string: '{"revision": 149, "rev": "950c501cce", "thumb_exists": true, "bytes":
        0, "modified": "Mon, 28 Oct 2013 15:47:40 +0000", "client_mtime": "Mon, 28
        Oct 2013 15:47:40 +0000", "path": "/photo_thumb (1).jpg", "is_dir": false,
        "icon": "page_white_picture", "root": "app_folder", "mime_type": "image/jpeg",
        "size": "0 bytes"}'
  recorded_at: Mon, 28 Oct 2013 15:47:41 GMT
- request:
    method: get
    uri: https://api.dropbox.com/1/media/sandbox/photo.jpg?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_KEY>",
        oauth_token="<ACCESS_TOKEN>", oauth_signature="<APP_SECRET>&<ACCESS_TOKEN_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '64'
      X-Dropbox-Request-Id:
      - e2a94139ea27db6f74dc9c665c2db12f
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 222f392f039e22967250e4ffda25842e
    body:
      encoding: UTF-8
      string: '{"url": "https://dl.dropboxusercontent.com/1/view/p59o1r7w2zl9wh1/Apps/Develops/photo.jpg",
        "expires": "Mon, 28 Oct 2013 19:47:41 +0000"}'
  recorded_at: Mon, 28 Oct 2013 15:47:42 GMT
[...]
- request:
    method: get
    uri: https://dl.dropboxusercontent.com/1/view/p59o1r7w2zl9wh1/Apps/Develops/photo.jpg?dl=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="photo.jpg"
      Content-Type:
      - image/jpeg
      Etag:
      - 148d
      X-Dropbox-Request-Id:
      - 4726fee66b7758ab8371d95025b431e8
      X-Requestid:
      - c1c99fbb0525fe65060964a09f88097a
      X-Server-Response-Time:
      - '139'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 28 Oct 2013 15:47:44 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/delete
    body:
      encoding: US-ASCII
      string: root=sandbox&path=%2Fphoto.jpg
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_KEY>",
        oauth_token="<ACCESS_TOKEN>", oauth_signature="<APP_SECRET>&<ACCESS_TOKEN_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '151'
      X-Dropbox-Request-Id:
      - 41789f6a8d23a399ec5406d0eab5539d
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 7dfb1b171c00a2a597bb660f5efbe0f8
    body:
      encoding: UTF-8
      string: '{"is_deleted": true, "revision": 150, "rev": "960c501cce", "thumb_exists":
        true, "bytes": 0, "modified": "Mon, 28 Oct 2013 15:47:44 +0000", "client_mtime":
        "Wed, 31 Dec 1969 23:59:59 +0000", "path": "/photo.jpg", "is_dir": false,
        "icon": "page_white_picture", "root": "app_folder", "mime_type": "image/jpeg",
        "size": "0 bytes"}'
  recorded_at: Mon, 28 Oct 2013 15:47:45 GMT
recorded_with: VCR 2.6.0
