---
http_interactions:
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/sandbox/photo.jpg?overwrite=false
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_KEY>",
        oauth_token="<ACCESS_TOKEN>", oauth_signature="<APP_SECRET>&<ACCESS_TOKEN_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '311'
      X-Dropbox-Request-Id:
      - 1470de54214663216fa6e8f1edf39358
      X-Requestid:
      - e47a19071faf98c2ce73091d477a4702
    body:
      encoding: UTF-8
      string: '{"revision": 145, "rev": "910c501cce", "thumb_exists": true, "bytes":
        0, "modified": "Mon, 28 Oct 2013 15:47:33 +0000", "client_mtime": "Mon, 28
        Oct 2013 15:47:33 +0000", "path": "/photo.jpg", "is_dir": false, "icon": "page_white_picture",
        "root": "app_folder", "mime_type": "image/jpeg", "size": "0 bytes"}'
  recorded_at: Mon, 28 Oct 2013 15:47:33 GMT
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/sandbox/photo_thumb.jpg?overwrite=false
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_KEY>",
        oauth_token="<ACCESS_TOKEN>", oauth_signature="<APP_SECRET>&<ACCESS_TOKEN_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '244'
      X-Dropbox-Request-Id:
      - 5384d3c0c686efe0830d945e0bcb3013
      X-Requestid:
      - 1ed86f0e630c527c965c5323e1d67f8b
    body:
      encoding: UTF-8
      string: '{"revision": 146, "rev": "920c501cce", "thumb_exists": true, "bytes":
        0, "modified": "Mon, 28 Oct 2013 15:47:34 +0000", "client_mtime": "Mon, 28
        Oct 2013 15:47:34 +0000", "path": "/photo_thumb.jpg", "is_dir": false, "icon":
        "page_white_picture", "root": "app_folder", "mime_type": "image/jpeg", "size":
        "0 bytes"}'
  recorded_at: Mon, 28 Oct 2013 15:47:34 GMT
- request:
    method: get
    uri: https://api.dropbox.com/1/media/sandbox/photo.jpg?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_KEY>",
        oauth_token="<ACCESS_TOKEN>", oauth_signature="<APP_SECRET>&<ACCESS_TOKEN_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '50'
      X-Dropbox-Request-Id:
      - 6fd004b9d846cec6e37b395478f5b0c8
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - b5429e4c03b17cb2ced9fdaeb2729635
    body:
      encoding: UTF-8
      string: '{"url": "https://dl.dropboxusercontent.com/1/view/p59o1r7w2zl9wh1/Apps/Develops/photo.jpg",
        "expires": "Mon, 28 Oct 2013 19:47:35 +0000"}'
  recorded_at: Mon, 28 Oct 2013 15:47:35 GMT
- request:
    method: get
    uri: https://dl.dropboxusercontent.com/1/view/p59o1r7w2zl9wh1/Apps/Develops/photo.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Etag:
      - 145n
      X-Dropbox-Request-Id:
      - edcaab9003745c159232d606944dc74a
      X-Requestid:
      - d14d7401771bb1cf54a194ba90b73ae6
      X-Server-Response-Time:
      - '141'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 28 Oct 2013 15:47:36 GMT
- request:
    method: get
    uri: https://api.dropbox.com/1/media/sandbox/photo_thumb.jpg?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_KEY>",
        oauth_token="<ACCESS_TOKEN>", oauth_signature="<APP_SECRET>&<ACCESS_TOKEN_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '60'
      X-Dropbox-Request-Id:
      - 384e216d407dd4a4dd6339b35f5c8612
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - de46d1c1f361432433cb07ebcebcd7bf
    body:
      encoding: UTF-8
      string: '{"url": "https://dl.dropboxusercontent.com/1/view/urp11bmynw95hih/Apps/Develops/photo_thumb.jpg",
        "expires": "Mon, 28 Oct 2013 19:47:37 +0000"}'
  recorded_at: Mon, 28 Oct 2013 15:47:37 GMT
- request:
    method: get
    uri: https://dl.dropboxusercontent.com/1/view/urp11bmynw95hih/Apps/Develops/photo_thumb.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Etag:
      - 146n
      X-Dropbox-Request-Id:
      - f8e00275c79efe4ac1cc5255cdc73fdc
      X-Requestid:
      - da1fa656023bf869ae09f16dcf6c6411
      X-Server-Response-Time:
      - '153'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 28 Oct 2013 15:47:38 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/delete
    body:
      encoding: US-ASCII
      string: root=sandbox&path=%2Fphoto.jpg
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_KEY>",
        oauth_token="<ACCESS_TOKEN>", oauth_signature="<APP_SECRET>&<ACCESS_TOKEN_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '136'
      X-Dropbox-Request-Id:
      - a65200ad1960eb42ebca035eea06cadb
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - fe490a5f230c5539a80a3cab6265b19f
    body:
      encoding: UTF-8
      string: '{"is_deleted": true, "revision": 147, "rev": "930c501cce", "thumb_exists":
        true, "bytes": 0, "modified": "Mon, 28 Oct 2013 15:47:39 +0000", "client_mtime":
        "Wed, 31 Dec 1969 23:59:59 +0000", "path": "/photo.jpg", "is_dir": false,
        "icon": "page_white_picture", "root": "app_folder", "mime_type": "image/jpeg",
        "size": "0 bytes"}'
  recorded_at: Mon, 28 Oct 2013 15:47:39 GMT
- request:
    method: get
    uri: https://api.dropbox.com/1/media/sandbox/photo.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_KEY>",
        oauth_token="<ACCESS_TOKEN>", oauth_signature="<APP_SECRET>&<ACCESS_TOKEN_SECRET>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": "Path ''/photo.jpg'' not found"}'
  recorded_at: Sat, 03 Jan 2015 10:56:59 GMT
recorded_with: VCR 2.9.3
