--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.dropbox.com/1/account/info
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="API_KEY", oauth_token="ACCESS_TOKEN", oauth_signature="t9xl9p9xduqk4cp&5mg8i8k2ksvd0kb"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"referral_link\": \"https://www.dropbox.com/referrals/NTE2NzgzNTA0OQ\", \"display_name\": \"Janko Marohni\\u0107\", \"uid\": 16783504, \"country\": \"HR\", \"quota_info\": {\"shared\": 167783781, \"quota\": 2952790016, \"normal\": 4083805}, \"email\": \"janko.marohnic@gmail.com\"}"
  recorded_at: Mon, 03 Sep 2012 00:28:20 GMT
recorded_with: VCR 2.2.4
