--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.dropbox.com/1/metadata/dropbox/Public/test_file?file_limit=25000&list=true&include_deleted=false
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<DROPBOX_APP_KEY>", oauth_token="<DROPBOX_ACCESS_TOKEN>", oauth_signature="<DROPBOX_APP_SECRET>&<DROPBOX_ACCESS_TOKEN_SECRET>"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_deleted\": true, \"revision\": 1725, \"rev\": \"6bd0b59ac45\", \"thumb_exists\": false, \"bytes\": 0, \"modified\": \"Fri, 23 Nov 2012 18:31:10 +0000\", \"client_mtime\": \"Wed, 31 Dec 1969 23:59:59 +0000\", \"path\": \"/Public/test_file\", \"is_dir\": false, \"icon\": \"page_white\", \"root\": \"dropbox\", \"mime_type\": \"application/octet-stream\", \"size\": \"0 bytes\"}"
  recorded_at: Fri, 23 Nov 2012 18:35:56 GMT
- request: 
    method: put
    uri: https://api-content.dropbox.com/1/files_put/dropbox/Public/test_file?overwrite=false
    body: 
      encoding: ASCII-8BIT
      string: |
        This is a test file.

    headers: 
      content-type: 
      - application/octet-stream
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<DROPBOX_APP_KEY>", oauth_token="<DROPBOX_ACCESS_TOKEN>", oauth_signature="<DROPBOX_APP_SECRET>&<DROPBOX_ACCESS_TOKEN_SECRET>"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"revision\": 1726, \"rev\": \"6be0b59ac45\", \"thumb_exists\": false, \"bytes\": 21, \"modified\": \"Fri, 23 Nov 2012 18:35:56 +0000\", \"client_mtime\": \"Fri, 23 Nov 2012 18:35:56 +0000\", \"path\": \"/Public/test_file\", \"is_dir\": false, \"icon\": \"page_white\", \"root\": \"dropbox\", \"mime_type\": \"application/octet-stream\", \"size\": \"21 bytes\"}"
  recorded_at: Fri, 23 Nov 2012 18:35:56 GMT
[...]
- request: 
    method: post
    uri: https://api.dropbox.com/1/fileops/delete?root=dropbox&path=%2FPublic%2Ftest_file
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<DROPBOX_APP_KEY>", oauth_token="<DROPBOX_ACCESS_TOKEN>", oauth_signature="<DROPBOX_APP_SECRET>&<DROPBOX_ACCESS_TOKEN_SECRET>"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_deleted\": true, \"revision\": 1727, \"rev\": \"6bf0b59ac45\", \"thumb_exists\": false, \"bytes\": 0, \"modified\": \"Fri, 23 Nov 2012 18:35:58 +0000\", \"client_mtime\": \"Wed, 31 Dec 1969 23:59:59 +0000\", \"path\": \"/Public/test_file\", \"is_dir\": false, \"icon\": \"page_white\", \"root\": \"dropbox\", \"mime_type\": \"application/octet-stream\", \"size\": \"0 bytes\"}"
  recorded_at: Fri, 23 Nov 2012 18:35:58 GMT
recorded_with: VCR 2.3.0
