--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.dropbox.com/1/metadata/sandbox/Public/test_file?file_limit=25000&list=true&include_deleted=false
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<SANDBOX_APP_KEY>", oauth_token="<SANDBOX_ACCESS_TOKEN>", oauth_signature="<SANDBOX_APP_SECRET>&<SANDBOX_ACCESS_TOKEN_SECRET>"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_deleted\": true, \"revision\": 93, \"rev\": \"5d0b5a71ed\", \"thumb_exists\": false, \"bytes\": 0, \"modified\": \"Fri, 23 Nov 2012 16:24:23 +0000\", \"client_mtime\": \"Wed, 31 Dec 1969 23:59:59 +0000\", \"path\": \"/Public/test_file\", \"is_dir\": false, \"icon\": \"page_white\", \"root\": \"app_folder\", \"mime_type\": \"application/octet-stream\", \"size\": \"0 bytes\"}"
  recorded_at: Fri, 23 Nov 2012 16:25:00 GMT
- request: 
    method: put
    uri: https://api-content.dropbox.com/1/files_put/sandbox/Public/test_file?overwrite=false
    body: 
      encoding: ASCII-8BIT
      string: |
        This is a test file.

    headers: 
      content-type: 
      - application/octet-stream
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<SANDBOX_APP_KEY>", oauth_token="<SANDBOX_ACCESS_TOKEN>", oauth_signature="<SANDBOX_APP_SECRET>&<SANDBOX_ACCESS_TOKEN_SECRET>"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"revision\": 98, \"rev\": \"620b5a71ed\", \"thumb_exists\": false, \"bytes\": 21, \"modified\": \"Fri, 23 Nov 2012 16:25:00 +0000\", \"client_mtime\": \"Fri, 23 Nov 2012 16:25:00 +0000\", \"path\": \"/Public/test_file\", \"is_dir\": false, \"icon\": \"page_white\", \"root\": \"app_folder\", \"mime_type\": \"application/octet-stream\", \"size\": \"21 bytes\"}"
  recorded_at: Fri, 23 Nov 2012 16:25:01 GMT
[...]
- request: 
    method: post
    uri: https://api.dropbox.com/1/fileops/delete?root=sandbox&path=%2FPublic%2Ftest_file
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<SANDBOX_APP_KEY>", oauth_token="<SANDBOX_ACCESS_TOKEN>", oauth_signature="<SANDBOX_APP_SECRET>&<SANDBOX_ACCESS_TOKEN_SECRET>"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_deleted\": true, \"revision\": 99, \"rev\": \"630b5a71ed\", \"thumb_exists\": false, \"bytes\": 0, \"modified\": \"Fri, 23 Nov 2012 16:25:03 +0000\", \"client_mtime\": \"Wed, 31 Dec 1969 23:59:59 +0000\", \"path\": \"/Public/test_file\", \"is_dir\": false, \"icon\": \"page_white\", \"root\": \"app_folder\", \"mime_type\": \"application/octet-stream\", \"size\": \"0 bytes\"}"
  recorded_at: Fri, 23 Nov 2012 16:25:04 GMT
- request: 
    method: get
    uri: https://api.dropbox.com/1/metadata/sandbox/test_file?file_limit=25000&list=true&include_deleted=false
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_FOLDER_APP_KEY>", oauth_token="<APP_FOLDER_ACCESS_TOKEN>", oauth_signature="<APP_FOLDER_APP_SECRET>&<APP_FOLDER_ACCESS_TOKEN_SECRET>"
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"error\": \"Path '/test_file' not found\"}"
  recorded_at: Fri, 23 Nov 2012 16:43:37 GMT
- request: 
    method: put
    uri: https://api-content.dropbox.com/1/files_put/sandbox/test_file?overwrite=false
    body: 
      encoding: ASCII-8BIT
      string: |
        This is a test file.

    headers: 
      content-type: 
      - application/octet-stream
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_FOLDER_APP_KEY>", oauth_token="<APP_FOLDER_ACCESS_TOKEN>", oauth_signature="<APP_FOLDER_APP_SECRET>&<APP_FOLDER_ACCESS_TOKEN_SECRET>"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"revision\": 108, \"rev\": \"6c0b5a71ed\", \"thumb_exists\": false, \"bytes\": 21, \"modified\": \"Fri, 23 Nov 2012 16:43:37 +0000\", \"client_mtime\": \"Fri, 23 Nov 2012 16:43:37 +0000\", \"path\": \"/test_file\", \"is_dir\": false, \"icon\": \"page_white\", \"root\": \"app_folder\", \"mime_type\": \"application/octet-stream\", \"size\": \"21 bytes\"}"
  recorded_at: Fri, 23 Nov 2012 16:43:38 GMT
[...]
- request: 
    method: post
    uri: https://api.dropbox.com/1/fileops/delete?root=sandbox&path=%2Ftest_file
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      authorization: 
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_FOLDER_APP_KEY>", oauth_token="<APP_FOLDER_ACCESS_TOKEN>", oauth_signature="<APP_FOLDER_APP_SECRET>&<APP_FOLDER_ACCESS_TOKEN_SECRET>"
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript
    body: 
      encoding: US-ASCII
      string: "{\"is_deleted\": true, \"revision\": 109, \"rev\": \"6d0b5a71ed\", \"thumb_exists\": false, \"bytes\": 0, \"modified\": \"Fri, 23 Nov 2012 16:43:40 +0000\", \"client_mtime\": \"Wed, 31 Dec 1969 23:59:59 +0000\", \"path\": \"/test_file\", \"is_dir\": false, \"icon\": \"page_white\", \"root\": \"app_folder\", \"mime_type\": \"application/octet-stream\", \"size\": \"0 bytes\"}"
  recorded_at: Fri, 23 Nov 2012 16:43:41 GMT
recorded_with: VCR 2.3.0
