---
http_interactions:
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/dropbox/Public/photo.jpg?overwrite=false
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_KEY>",
        oauth_token="<ACCESS_TOKEN>", oauth_signature="<APP_SECRET>&<ACCESS_TOKEN_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '300'
      X-Dropbox-Request-Id:
      - 8cdb8c9283c9cd3415bb10155586ef3a
      X-Requestid:
      - 642dd703160a5d948d248d2e91584445
    body:
      encoding: UTF-8
      string: '{"revision": 8303, "rev": "206f01908bdc", "thumb_exists": true, "bytes":
        0, "modified": "Mon, 28 Oct 2013 15:47:50 +0000", "client_mtime": "Mon, 28
        Oct 2013 15:47:50 +0000", "path": "/Public/photo.jpg", "is_dir": false, "icon":
        "page_white_picture", "root": "dropbox", "mime_type": "image/jpeg", "size":
        "0 bytes"}'
  recorded_at: Mon, 28 Oct 2013 15:47:51 GMT
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/dropbox/Public/photo_thumb.jpg?overwrite=false
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_KEY>",
        oauth_token="<ACCESS_TOKEN>", oauth_signature="<APP_SECRET>&<ACCESS_TOKEN_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '288'
      X-Dropbox-Request-Id:
      - ece9c9b74d57ff02324171c819c2425e
      X-Requestid:
      - 3a0d822b2be5102b03b9fe14a54a59ae
    body:
      encoding: UTF-8
      string: '{"revision": 8304, "rev": "207001908bdc", "thumb_exists": true, "bytes":
        0, "modified": "Mon, 28 Oct 2013 15:47:51 +0000", "client_mtime": "Mon, 28
        Oct 2013 15:47:51 +0000", "path": "/Public/photo_thumb (1).jpg", "is_dir":
        false, "icon": "page_white_picture", "root": "dropbox", "mime_type": "image/jpeg",
        "size": "0 bytes"}'
  recorded_at: Mon, 28 Oct 2013 15:47:52 GMT
- request:
    method: get
    uri: https://dl.dropboxusercontent.com/u/<USER_ID>/photo.jpg?dl=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="photo.jpg"
      Content-Type:
      - image/jpeg
      X-Dropbox-Request-Id:
      - adda69240a5b7a201e1b1fe37a6d34d6
      X-Requestid:
      - 729f4dd0737e5bf5e3071eaa0420b392
      X-Server-Response-Time:
      - '135'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 28 Oct 2013 15:47:53 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/delete
    body:
      encoding: US-ASCII
      string: root=dropbox&path=%2FPublic%2Fphoto.jpg
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_KEY>",
        oauth_token="<ACCESS_TOKEN>", oauth_signature="<APP_SECRET>&<ACCESS_TOKEN_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '143'
      X-Dropbox-Request-Id:
      - c3e532f29d9dea7aeb21f9659d502500
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - 55719867dbc9552ab619e90a11219caa
    body:
      encoding: UTF-8
      string: '{"is_deleted": true, "revision": 8305, "rev": "207101908bdc", "thumb_exists":
        true, "bytes": 0, "modified": "Mon, 28 Oct 2013 15:47:54 +0000", "client_mtime":
        "Wed, 31 Dec 1969 23:59:59 +0000", "path": "/Public/photo.jpg", "is_dir":
        false, "icon": "page_white_picture", "root": "dropbox", "mime_type": "image/jpeg",
        "size": "0 bytes"}'
  recorded_at: Mon, 28 Oct 2013 15:47:54 GMT
recorded_with: VCR 2.6.0
