---
http_interactions:
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/dropbox/Public/photo.jpg?overwrite=false
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_KEY>",
        oauth_token="<ACCESS_TOKEN>", oauth_signature="<APP_SECRET>&<ACCESS_TOKEN_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '259'
      X-Dropbox-Request-Id:
      - 15daf1c00b7c12a4d53a3a59cbfbac68
      X-Requestid:
      - e4162ccd4603289ace863083153c10ea
    body:
      encoding: UTF-8
      string: '{"revision": 8300, "rev": "206c01908bdc", "thumb_exists": true, "bytes":
        0, "modified": "Mon, 28 Oct 2013 15:47:45 +0000", "client_mtime": "Mon, 28
        Oct 2013 15:47:45 +0000", "path": "/Public/photo.jpg", "is_dir": false, "icon":
        "page_white_picture", "root": "dropbox", "mime_type": "image/jpeg", "size":
        "0 bytes"}'
  recorded_at: Mon, 28 Oct 2013 15:47:46 GMT
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/dropbox/Public/photo_thumb.jpg?overwrite=false
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_KEY>",
        oauth_token="<ACCESS_TOKEN>", oauth_signature="<APP_SECRET>&<ACCESS_TOKEN_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '566'
      X-Dropbox-Request-Id:
      - 0606bbcec76978a5c07b6f282bcecd96
      X-Requestid:
      - 29b2dbdcddc102a3d2694b942130521f
    body:
      encoding: UTF-8
      string: '{"revision": 8301, "rev": "206d01908bdc", "thumb_exists": true, "bytes":
        0, "modified": "Mon, 28 Oct 2013 15:47:46 +0000", "client_mtime": "Mon, 28
        Oct 2013 15:47:46 +0000", "path": "/Public/photo_thumb.jpg", "is_dir": false,
        "icon": "page_white_picture", "root": "dropbox", "mime_type": "image/jpeg",
        "size": "0 bytes"}'
  recorded_at: Mon, 28 Oct 2013 15:47:47 GMT
- request:
    method: get
    uri: https://dl.dropboxusercontent.com/u/<USER_ID>/photo.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      X-Dropbox-Request-Id:
      - f326676d108528a8a1cfab6c3e748b6c
      X-Requestid:
      - ac06b898858f8ddf549a6964732e6996
      X-Server-Response-Time:
      - '133'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 28 Oct 2013 15:47:48 GMT
- request:
    method: get
    uri: https://dl.dropboxusercontent.com/u/<USER_ID>/photo_thumb.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      X-Dropbox-Request-Id:
      - e2969732f6354233f206fd2e90d7385d
      X-Requestid:
      - e1e549b99a0ad27a1907a18c5eb18536
      X-Server-Response-Time:
      - '115'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 28 Oct 2013 15:47:48 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/delete
    body:
      encoding: US-ASCII
      string: root=dropbox&path=%2FPublic%2Fphoto.jpg
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_version="1.0", oauth_signature_method="PLAINTEXT", oauth_consumer_key="<APP_KEY>",
        oauth_token="<ACCESS_TOKEN>", oauth_signature="<APP_SECRET>&<ACCESS_TOKEN_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '189'
      X-Dropbox-Request-Id:
      - 76981f05fdd9e5f4a2b541fe1ef22f9b
      X-Dropbox-Http-Protocol:
      - None
      X-Requestid:
      - dd62587d24211062008fb26a6b3049bc
    body:
      encoding: UTF-8
      string: '{"is_deleted": true, "revision": 8302, "rev": "206e01908bdc", "thumb_exists":
        true, "bytes": 0, "modified": "Mon, 28 Oct 2013 15:47:49 +0000", "client_mtime":
        "Wed, 31 Dec 1969 23:59:59 +0000", "path": "/Public/photo.jpg", "is_dir":
        false, "icon": "page_white_picture", "root": "dropbox", "mime_type": "image/jpeg",
        "size": "0 bytes"}'
  recorded_at: Mon, 28 Oct 2013 15:47:50 GMT
recorded_with: VCR 2.6.0
